
body {
  background-color: rgb(128, 139, 104);
  color: white;
  font-size: 3.5rem;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

h1 {
  padding-top: 250px;
}

#weather {
  font-size: 4.5rem;
  padding-top: 25px;
}